management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    info:
      access: read_only

spring:
  application.name: trophyquest-backend
  datasource:
    url:
    username:
    password:
  jpa:
    properties:
      hibernate:
        default_schema: app
    show-sql: true
    hibernate:
      ddl-auto: none
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public